.project {
    color : white;
    font-weight: lighter;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size : 1rem;
}
.project:hover {
    text-decoration: underline;
} 
.mygarden {
    color : black;
    font-weight: bold;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size : 1.5rem;
}
.user {
    color : white;
    font-weight: bold;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size : 1.5rem;

}
.node-menu .node-menu-content .node-menu-item:hover {
    background-color: black;
}